In [1]:
import pandas as pd
import numpy as np
import sys, os

if not os.path.exists("OSAT") and os.path.exists(
    "../OSAT"
):  # hack to allow scripts to be placed in subdirectories next to AlOlivThermo:
    sys.path.insert(1, os.path.abspath(".."))

from OSAT import thermometers

In [2]:
df_ol = pd.read_excel("input_ol.xlsx")
df_sp = pd.read_excel("input_sp.xlsx")

results= thermometers.models(df_ol, df_sp).compute()

In [3]:
results

,sample_no,SiO2_ol,TiO2_ol,Al2O3_ol,FeO_ol,MnO_ol,MgO_ol,CaO_ol,Na2O_ol,P2O5_ol,...,t_kdal,t_coogan,t_zThermoAlCr,err_zThermoAlCr,t_zThermoAl,err_zThermoAl,z_thermo_cr,z_thermo_al,p_thermo_cr,p_thermo_al
0,PI082_02,40.112,0.0192,0.0341,16.669,0.269,42.334,0.242,0,0,...,1171.235391,1183.901406,1171.235391,43.3,1171.235391,43.3,0.761434,1.625903,0.223199,0.051985

In [4]:
# results.to_excel('results_pi082.xlsx', index=False)